@model List<CustomerLists.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Customers</h2>

@foreach (var customer in Model)
{
    <h4> <a href="/details/@customer.ID">
        @if (customer.Name != null)
        {
            @customer.Name
        }
    </a> </h4>
}